
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.button{
  @apply  hover:bg-opacity-85 transition-opacity ease-in-out py-2 px-4 text-lg font-bold rounded-md block;
}
.button-white{
  @apply bg-white text-TH-black;
}

.button-big-red{
  @apply bg-[#CB0909] text-white !py-4 !px-8 mt-6;
}

.wrapper .grain {
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background-image: url("https://filedn.eu/lzlKRTrPVW1LRl27B9LCvum/Lumisi/Misc/noise-bg.png");
  background-size: 200px 200px;
  background-repeat: repeat;
  position: absolute;
  z-index: -1;
  animation-name: grain;
  animation-duration: 5s;
  -webkit-animation-timing-function: steps(10, end);
  animation-timing-function: steps(10, end);
  animation-delay: initial;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: initial;
  -webkit-animation-fill-mode: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}

@keyframes grain{
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
  10% {
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
}
  20% {
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
}
30% {
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
}
40% {
    -webkit-transform: translate(21%, 25%);
    transform: translate(21%, 25%);
}
50% {
    -webkit-transform: translate(-25%, 10%);
    transform: translate(-25%, 10%);
}
60% {
    -webkit-transform: translate(15%, 0);
    transform: translate(15%, 0);
}
70% {
    -webkit-transform: translate(0, 15%);
    transform: translate(0, 15%);
}
80% {
    -webkit-transform: translate(25%, 35%);
    transform: translate(25%, 35%);
}
90% {
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
}
}

.swipe-section {
  @apply lg:relative lg:h-dvh lg:w-full lg:overflow-hidden;
}

.swipe-section .panel {
  @apply lg:absolute;
}


@media (max-width: 1023px){
  #display-mobile{
    display: block!important;
    opacity: 1!important;
  }
} 


/* Client BGs */

.ams-bg{
  background-image:linear-gradient(135deg, #03305d 0%, #0b619fd4 100%), url(https://admedsol.com/wp-content/uploads/2023/09/liquifix.jpg);
}

.aphex-bg{
  background-image:linear-gradient(100deg, #111111 0%, #232323 100%), url(https://aphexsolutions.com/wp-content/uploads/2025/09/Aphex-Hartlepool-gradient.svg);
}

.confluence-bg{
  background: #003665;
  background: radial-gradient(0% 100% at 0% 100% in srgb, rgb(0, 57, 104) 0%, rgba(0, 57, 104, 0) 50%), radial-gradient(100% 50% at 0% 0% in srgb, rgb(0, 81, 84) 0%, rgba(72, 123, 129, 0) 100%), radial-gradient(100% 50% at 100% 0% in srgb, #005154 0%, rgba(0, 81, 84, 0) 100%), radial-gradient(100% 100% at 100% 0% in srgb, #005154 0%, rgba(72, 123, 129, 0) 100%), var(--ohio-blue, #003968);
}

.academy-bg{
  background: rgb(3, 48, 93);
  background: linear-gradient(180deg, #031e45 0%, #03305d 100%);
}

.brandhub-bg{
  background: rgb(22, 39, 49);
  background: linear-gradient(180deg, #162731 0%, #132027 100%);
}